<div id="exceptions-container">
	<div id="temperature-now-container">
        <div class="program-container exceptions-programs">
            <h2>Calendar</h2>
            <div id="datepicker" class="exceptions-date-picker"></div>
            <h2>Programs</h2>
            <p class="tip-text">Click and drag a program into your agenda.</p>
            <div class="temperature-buttons-container"></div>
            <div class="touch-controls" style="display: none;">
                <button class="remove-button">Remove block</button>
                <button class="edit-button">Change block</button>
            </div>
        </div>
    </div>
	<div id="current-week-container">
		<div class="window-large">
			<div class="week-container">
				<h2>My Agenda</h2>
				<div class="exceptions-container">
					<div class="schedule-container"></div>
				</div>
			</div>
		</div>
	</div>
</div>
