<div id="standard-week-container">
	<div id="temperature-now-container">
        <div class="program-container standard-week-programs">
            <h2>Programs</h2>
            <div class="tip-text">
                <p>Customize your program via the edit menu<i class="icon icon-settings-small"></i></p>
                <p>Click and drag a program into your schedule<i class="icon icon-gripper-small"></i></p>
            </div>
            <div class="temperature-buttons-container"></div>
            <div class="touch-controls" style="display: none;">
                <button class="remove-button">Remove block</button>
                <button class="edit-button">Change block</button>
            </div>
        </div>
	</div>
	<div id="current-week-container">
		<div class="window-large">
			<div class="week-container">
				<h2>My Schedule</h2>
				<div class="standard-week-container"></div>
			</div>
		</div>
	</div>
</div>
