version: '3.8'

services:
  web:
    build:
      context: ./services/web
      dockerfile: Dockerfile.prod
    command: gunicorn -k eventlet -w 1 -b 0.0.0.0:3888 'thermostart:create_app()'
    volumes:
      - db_data_prod:/home/app/data/
    ports:
      - "3888:3888"
    env_file:
      - ./.env.prod
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data_prod:
