version: '3.8'

services:
  web:
    build: ./services/web
    command: python manage.py run -h 0.0.0.0 -p 3888
    volumes:
      - ./services/web/:/usr/src/app/
    ports:
      - "3888:3888"
    env_file:
      - ./.env.dev
    depends_on:
      - db
    networks:
      - app-network
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=flask_thermostart_user
      - POSTGRES_PASSWORD=flask_thermostart_pass
      - POSTGRES_DB=flask_thermostart_db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: