version: '3.8'

services:
  web:
    build:
      context: ./services/web
      dockerfile: Dockerfile.prod
    command: gunicorn --timeout=5 --worker-class=gevent --bind 0.0.0.0:3888 manage:app
    volumes:
      - static_volume:/home/app/web/thermostart/static
      - media_volume:/home/app/web/thermostart/media
    expose:
      - 3888
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ./services/nginx
    volumes:
      - static_volume:/home/app/web/thermostart/static
      - media_volume:/home/app/web/thermostart/media
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
  postgres_data_prod:
  static_volume:
  media_volume: