Docker==6.1.2
eventlet==0.35.2
Flask==3.0.2
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gevent-websocket==0.10.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pytest==7.3.1
intelhex==2.3.0
arc4==0.4.0
requests==2.31.0
WTForms==3.1.2
WTForms-SQLAlchemy==0.4.1
pyicloud==1.0.0
pytz